<div class="container my-5">
  <div class="row">
    <h2>商品新規登録</h2>
  </div>

  <p></p>

  <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
    <div class="col-xs-7">
      <div class="field">
      	<%= f.label :商品画像 %>
        <%= f.attachment_field :image %>
      </div>
      <br>
      <div class="field">
        <%= f.label :商品名　 %>
        <%= f.text_field :name, class: "form" %>
      </div>
      <br>
      <div class="field">
        <%= f.label :商品説明 %>
        <%= f.text_area :introduction %>
      </div>
      <br>
      <div class="field">
        <%= f.label :ジャンル %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "選択してください" %>
      </div>
      <br>
      <div class="field">
        <%= f.label :税抜価格 %>
        <%= f.text_field :price %>
          円
      </div>
      <br>
      <div class="field">
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "販売中" %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "売切れ" %>
      </div>
      <br>
      <div class="actions row">
        <%= f.hidden_field :id, :value => @item.id %>
        <%= f.submit "新規登録", class:"btn btn-lg btn-light rounded-pill" %>
      </div>
    </div>
  <% end %>
</div>
