<div class="container my-5">
  <div style="margin-left: 50px;">
    <div class="row">
      <h2>商品詳細</h2>
    </div>

    <p></p>

    <div class="row">
      <div class="col-xs-4">
        <%= attachment_image_tag(@item, :image, size: "300x300", fallback: "no_image.png", class: "rounded") %>
      </div>
      <div class="col-xs-8">
        <table class="table">
          <tr>
            <th>商品名</th>
              <td><%= @item.name %></td>
			</tr>
			<tr>
			  <th>商品説明</th><td><%= @item.introduction %></td>
			</tr>
			<tr>
			  <th>ジャンル</th>
			  <td><%= @item.genre.name %></td>
			</tr>
			<tr>
			  <th>税込価格（税抜価格）</th>
			  <td><%= (@item.price * 1.1).to_i.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</td>
			</tr>
			<tr>
			  <th>販売ステータス</th>
			  <th>
				<% if @item.is_active == true %>
				  <p class="text-success">販売中</p>
				<% else %>
				  <p class="text-muted">売切れ</p>
			    <% end %>
			  </th>
			</tr>
		</table>
		<div class="row mx-auto">
		  <%= link_to '編集する', edit_admin_item_path(@item), class: "btn btn-info rounded-pill" %>
		</div>
	  </div>
    </div>
  </div>
</div>
